{
  "machine": {
    "gpu": 1,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "Name": "[JOB_NAME_PLACEHOLDER]",
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
       "EnvironmentVariables": [
          {{ if .CID }}"{{ subst "CID=%s" .CID }}"{{ end }}
        ],
        "Image": "sha256:5335ab0ef500b7cf1cd0c225076d393d5d2211d989ac0443186bbed2e4e0da86"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    },
    "Meta": {
          "IMAGE_CID": "QmZ34TEbA47vfsWV8DtUrHfC8HVzsU312XSTFs7m5ZB4d8"
    },
  }
}
