{
  "machine": {
    "gpu": 1,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "Name": "[JOB_NAME_PLACEHOLDER]",
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
       "EnvironmentVariables": [
          {{ if .CID }}"{{ subst "CID=%s" .CID }}"{{ end }}
        ],
        "Image": "sha256:4b01e042ea55c6b498a585eef8d59962608693b6f4d69da0b3ea0374b45ec761"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    },
    "Meta": {
          "IMAGE_CID": "QmaTu1HdAoEsWR8V6Zq7ugd6Wrfv7456qWA8wTxPvS3az5"
    },
  }
}
